body
{
    margin: 0;
}

/* Make EVERYTHING use border-box */
*, *:before, *:after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav, header, main, section, article
{
    display: block;
    width: 100vw;
    padding: 15px;
    text-align: center;
}

nav
{
    background-color: #5995DA;
}
header
{
    background-color: #B2D6FF;
}
main
{
    background-color: #92b3d0;
}
section
{
    background-color: #D6E9FE;
}

/* Background colors */

.bg-yellow
{
    background-color: #d9b068;
}
.bg-red
{
    background-color: #935157;
}
.bg-purple
{
    background-color: #9779DD;
}